<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471005699027-3rikujvd5qsag6kpuaptv3vte8cqpukj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471005699027-3rikujvd5qsag6kpuaptv3vte8cqpukj</string>
	<key>API_KEY</key>
	<string>INSERT_API_KEY_HERE</string>
	<key>GCM_SENDER_ID</key>
	<string>471005699027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alfresco.contentapp</string>
	<key>PROJECT_ID</key>
	<string>alfresco-mobile-workspace</string>
	<key>STORAGE_BUCKET</key>
	<string>alfresco-mobile-workspace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:471005699027:ios:db02b3050b08e4ca8e6d26</string>
	<key>DATABASE_URL</key>
	<string>https://alfresco-mobile-workspace.firebaseio.com</string>
</dict>
</plist>
